<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <!--Bootstrap -->
  <body>
    <%- include('partials/header'); -%>


    <div class="note">
    
<h2 style="color: #575A02;font-family: McLaren, cursive;font-weight: 200;margin-left: 27%;margin-top: 8%;
background: url(https://www.andyhooke.co.uk/wp-content/uploads/2018/02/yellow-brushstroke.png);
background-repeat: no-repeat;
background-size: 69% 95%;
padding: 8px 0;">Churn Prediction<br></h2>
<h5 style="color: #575A02;font-family: McLaren, cursive;font-weight: 100;margin-left: 32%;margin-top: 4%;"">For Banking System</h5>

   </div>
   
    <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <!-- javascript -->
      <script src="index.js" charset="utf-8"></script>

      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

