<%- include('partials/header'); -%>

<h1 style="color: #575A02;font-family: McLaren, cursive;font-weight: 200;margin-left: 43%;margin-top: 4%;
background: url(https://www.andyhooke.co.uk/wp-content/uploads/2018/02/yellow-brushstroke.png);
background-repeat: no-repeat;
background-size: 23% 95%;
padding: 8px 0;">Predict</h1>

<div class="form align-items-center">
    <form method="POST" action="predict">
        <div class="form-group">
          <label for="vintage">Vintage</label>
          <input type="text" class="form-control" name="vintage" placeholder="Vintage">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" name="age" placeholder="Age">
        </div>
        <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Gender" value="Male">
                  <label class="form-check-label" for="Male">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Gender" value="Female">
                  <label class="form-check-label" for="Female">
                    Female
                  </label>
                </div>
        </fieldset>
        <div class="form-group">
            <label for="dependents">Dependents</label>
            <input type="text" class="form-control" name="dependents" placeholder="Dependents">
        </div>
        <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Occupation</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="occupation" value="retired">
                  <label class="form-check-label" for="retired">
                    Retired
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="occupation" value="salaried">
                  <label class="form-check-label" for="salaried">
                    Salaried
                  </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="occupation" value="self-employed">
                    <label class="form-check-label" for="self-employed">
                        Self Employed
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="occupation" value="student">
                    <label class="form-check-label" for="student">
                        Student
                    </label>
                </div>

        </fieldset>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" placeholder="City">
        </div>
        <div class="form-group">
            <label for="customer_nw_category">Customer_nw_category</label>
            <input type="text" class="form-control" name="customer_nw_category" placeholder="customer_nw_category">
        </div>
        <div class="form-group">
            <label for="branch_code">Branch Code</label>
            <input type="text" class="form-control" name="branch_code" placeholder="branch_code">
        </div>
        <div class="form-group">
            <label for="last_transaction">Days Since Last Transaction</label>
            <input type="text" class="form-control" name="last_transaction" placeholder="Last transaction">
        </div>
        <div class="form-group">
            <label for="current_balance">Current Balance</label>
            <input type="text" class="form-control" name="current_balance" placeholder="Current Balance">
        </div>
        <div class="form-group">
            <label for="previous_month_end_balance">Previous Month Balance</label>
            <input type="text" class="form-control" name="previous_month_end_balance" placeholder="Prev Month Balance">
        </div>
        <div class="form-group">
            <label for="average_monthly_balance_prevQ">Average Monthly Balance PrevQ</label>
            <input type="text" class="form-control" name="average_monthly_balance_prevQ" placeholder="Average Monthly Balance PrevQ">
        </div>
        <div class="form-group">
            <label for="average_monthly_balance_prevQ2">Average Monthly Balance PrevQ2</label>
            <input type="text" class="form-control" name="average_monthly_balance_prevQ2" placeholder="Average Monthly Balance PrevQ2">
        </div>
        <div class="form-group">
            <label for="current_month_credit">Current Month Credit</label>
            <input type="text" class="form-control" name="current_month_credit" placeholder="Current Month Credit">
        </div>
        <div class="form-group">
            <label for="previous_month_credit">Previous Month Credit</label>
            <input type="text" class="form-control" name="previous_month_credit" placeholder="Previous Month Credit">
        </div>
        <div class="form-group">
            <label for="current_month_debit">Current Month Debit</label>
            <input type="text" class="form-control" name="current_month_debit" placeholder="Current Month Debit">
        </div>
        <div class="form-group">
            <label for="previous_month_debit">Previous Month Debit</label>
            <input type="text" class="form-control" name="previous_month_debit" placeholder="Previous Month Debit">
        </div>
        <div class="form-group">
            <label for="current_month_balance">Current Month Balance</label>
            <input type="text" class="form-control" name="current_month_balance" placeholder="Current Month Balance">
        </div>
        <div class="form-group">
            <label for="previous_month_balance">Previous Month Balance</label>
            <input type="text" class="form-control" name="previous_month_balance" placeholder="Previous Month Balance">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
