<%- include('partials/header'); -%>


<div class="note">

<h3 style="position: absolute;top: 25%;left: 25%;font-family: Montserrat;">
    Predicted output is
</h3>
<% if(predictedData == 0) { %>
    <h4 style="position: absolute;top: 50%;left: 20%; font-family: Montserrat;">The customer will not churn</h4>
<% } else{ %>
    <h4 style="position: absolute;top: 50%;left: 20%;font-family: Montserrat;">The customer might churn</h4>
<% } %>


</div>