<%- include('partials/header'); -%>

<h1 style="color: #575A02;font-family: McLaren, cursive;font-weight: 200;margin-left: 43%;margin-top: 4%;
background: url(https://www.andyhooke.co.uk/wp-content/uploads/2018/02/yellow-brushstroke.png);
background-repeat: no-repeat;
background-size: 18% 95%;
padding: 8px 0;
">Result</h1>

<div class="note">

<h3 style="position: absolute;top: 25%;left: 25%;font-family: Montserrat;">
    Predicted output is
</h3>
<% if(predictedData == 0) { %>
    <h4 style="position: absolute;top: 50%;left: 20%; font-family: Montserrat;">The customer will not churn</h4>
<% } else{ %>
    <h4 style="position: absolute;top: 50%;left: 20%;font-family: Montserrat;">The customer might churn</h4>
<% } %>


</div>